h1 {
  background-color: #FFC869;
  color: white;
  font-family: helvetica;
  text-align: center;
}
.topnav {
  width:850px;
  margin:0 auto;
  list-style:none;
  background-color: #Eff5f7;
  overflow: hidden;
  font-family: helvetica;
}

.topnav a {
  float: left;
  color: #cb5e38;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: maroon;
}

.topnav a.active {
  background-color: 914A16;
  color: #f8e1dc;
}
body {
text-align: center;
color: #102549;
font-family: verdana;
font-size: 18px; 
}
h2 {
  color: #4B2603;
  font-family: garamond;
  text-align: center;
}
.flip-box {
  background-color: transparent;
  width: 400px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #E58A5A;
  color: white;
  transform: rotateY(180deg);
}
ul {
  background: #FFC869;
  padding: 20px;
  list-style-position: outside;
  width:800 
  lenght:500
}
ul li {
  background: #EEBF98;
  margin: 10px;
  width:800
  lenght: 500

}
