.topnav {
  width:850px;
  margin:0 auto;
  list-style:none;
  background-color: #Eff5f7;
  overflow: hidden;
  font-family: helvetica;
}
.topnav a {
  float: left;
  color: #cb5e38;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: maroon;
}

.topnav a.active {
  background-color: 914A16;
  color: #f8e1dc;
}

body {
  color: #FFA07A;
  font-family: verdana;
  text-align: center;

}
h2 {
background-color: #FFC869;
  color: white;
  font-family: helvetica;
  text-align: center;
  font-size: 40px;
}
h1 {
font-size: 20px;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
h4 {
  color: #CD5C5C;
  font-family: timesnewroman;
  text-align: center;
  font-size: 40px;
}
{
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 24%; /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}
@media screen and (max-width: 400px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

.column img {
  opacity: 1.2; 
}

.column img:hover {
  opacity: 5;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}
.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(255, 160, 122); 
  background: rgba(255, 160, 122, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
