.topnav {
  width:850px;
  margin:0 auto;
  list-style:none;
  background-color: #Eff5f7;
  overflow: hidden;
  font-family: helvetica;
}

.topnav a {
  float: left;
  color: #cb5e38;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: maroon;
}

.topnav a.active {
  background-color: 914A16;
  color: #f8e1dc;
}
body {
font-family: timesnewroman;
color: #754B4B;
font-size: 20px;
}
h {
font-family: arial;
color: #E97C64;
font-size: 40px;
background-color:#FFF2AF;
}